.leaflet-control-geocoder {
  border-radius: 4vh;
  background: #3535352e;
  backdrop-filter: blur(5px);
  width: 20vw;
  height: 2vh;
  padding-top: 0.6vh;
  padding-left: 0.5vw;
}

.leaflet-touch .leaflet-control-geocoder {
  min-height: 30px;
  margin-right: 40vw;
  border-radius: 2vh;
  box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.15);
  border: solid #000000 1px;
}

.leaflet-control-geocoder a {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder .leaflet-control-geocoder-icon {
  border-bottom: none;
  display: none;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
  width: inherit;
  height: inherit;
  line-height: inherit;
  color: rgb(216, 216, 216);
}

.leaflet-control-geocoder a:hover,
.leaflet-control-geocoder .leaflet-control-geocoder-icon:hover {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder-form {
  display: block;
}
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
  display: inline-block;
}

.leaflet-control-geocoder-form input {
  font-family: "Inter", sans-serif;
  font-size: 2vh;
  border: none;
  background-color: transparent;
  width: 95%;
  color: rgb(27, 27, 27);
  display: block;
  font-weight: 600;
}

input::placeholder {
  color: rgba(18, 18, 18, 0.5);
  font-size: 2vh;
  font-family: "Inter", sans-serif;
}

.leaflet-control-geocoder-form-no-error {
  display: none;
}

.leaflet-control-geocoder-form input:focus {
  outline: block;
}

.leaflet-control-geocoder-form button {
  display: block;
}
.leaflet-control-geocoder-error {
  margin-top: 8px;
  margin-left: 8px;
  display: block;
  color: #444;
}
.leaflet-control-geocoder-alternatives {
  display: block;
  width: 20vw;
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaflet-control-geocoder-alternatives-minimized {
  display: none;
}
.leaflet-control-geocoder-alternatives li {
  margin-top: 1.25vh;
  margin-right: 1.5vh;
  border-radius: 2vh;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  padding: 1vh;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #2f3c4c;
  height: 5vh;
}

.leaflet-control-geocoder-alternatives li a,
.leaflet-control-geocoder-alternatives li a:hover {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background: inherit;
  border-radius: inherit;
  text-align: left;
  font-size: 1vw;
}

.leaflet-control-geocoder-alternatives li:last-child {
  border-bottom: none;
}
.leaflet-control-geocoder-alternatives li:hover,
.leaflet-control-geocoder-selected {
  background-color: #374657;
}
