@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

#map {
  height: 100vh;
}

.layer_button {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 162, 49);
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: black, 2px, solid;
}

.layer_button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.layer_1 {
  top: 5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_2 {
  top: 12.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_3 {
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_4 {
  top: 27.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_labels {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_borders {
  top: 57.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_train {
  top: 65%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_cycling {
  top: 72.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_clicked {
  background-color: rgb(255, 225, 189);
}

.home_button {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 162, 49);
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: black, 2px, solid;
}

.home_button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.home_main {
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_geolocation {
  top: 12.5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_manual {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_zoom {
  top: 27.5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_color_picker {
  top: 35%;
  left: 20%;
  position: absolute;
  z-index: 999;
}

.app_version {
  color: white;
  top: 95%;
  left: 1%;
  height: 2vh;
  width: 5vw;
  position: absolute;
  z-index: 999;
  font-family: "Dosis", sans-serif;
  /*       font-family: 'Lilita One', cursive; */
  text-align: center;
}