@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#map {
  height: 100vh;
}

/* ↓ Loading ↓  */

.loading_page_container {
  pointer-events: none;
  min-height: 100vh;
  width: 100vw;
  background-color: #23232d;
  position: fixed;
  z-index: 990;
}

.loading_page_fade_out {
  opacity: 0;
  transition: opacity 1s ease;
}

.loading_page_fade_out_fast {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.title_screen {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 900;
}

.loading_animation_container {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 970;
}

.title_screen_background {
  position: absolute;
  background-color: white;
  top: 30%;
  left: -20%;
  height: 30vh;
  width: 80vw;
  transform: translate(-50%, -50%);
  z-index: 850;
  border-radius: 0 0 300px 0;
  transition: left 1.3s ease-in-out, transform 1.3s ease-in-out;
}

.plane_animation_container {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  transform-origin: 100% 100%;
  animation: rotate_plane 10s linear infinite;
}

@keyframes rotate_plane {
  0% {
    transform: translate(-100%, -100%) rotate(0deg);
  }
  100% {
    transform: translate(-100%, -100%) rotate(360deg);
  }
}

.home_button {
  display: none;
}

.plane_icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(5deg);
}

.globe_icon {
  animation: rotate_globe 20s linear infinite;
  height: 250px;
  width: 250px;
}

@keyframes rotate_globe {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.loading_page_progress_container {
  position: absolute;
  height: 3.5vh;
  width: 30vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 17, 19, 0.5);
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading_page_progress_container p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: rgb(211, 211, 211);
}

.loading_page_fade_container {
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.5));
}

/* ↑ Loading ↑ */
/* ↓ Sidebar ↓  */

.sidebar_container_arrow {
  position: absolute;
  background-color: #2f3c4c;
  border: none;
  height: 3vh;
  width: 3vw;
  top: 0;
  left: 4.5vw;
  z-index: 960;
}

.sidebar_buttons_container {
  position: absolute;
  height: 100%;
  width: 4.5vw;
  background-color: #2f3c4c;
  z-index: 800;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
  padding-top: 1vh;
  transform: translate(0%, 0%);
}

.sidebar_main_button {
  padding: 10% 0;
  background-color: #2f3c4c;
  height: 7.5%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  color: #d7d7d7;
  margin-bottom: 0.625vh;
  margin-top: 0.625vh;
  border-radius: 10px 10px 10px 10px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.625vw;
}

.sidebar_main_button:hover {
  background-color: #374657;
}

.sidebar_main_button i {
  margin-top: 2vh;
}

.sidebar_main_button p {
  margin-top: 2vh;
}

.jscolor_home_container {
  top: 9%;
  left: -6%;
  z-index: 200;
  position: absolute;
}

.sub_main_container {
  position: absolute;
  background-color: #2b3847;
  backdrop-filter: blur(10px);
  height: 9.5%;
  z-index: 790;
  border-radius: 0 1vh 1vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transform: translate(-100%, 0%);
}

.sub_container_house {
  left: 0%;
  top: 1vh;
  width: 25vw;
}

.sub_container_map_layers {
  left: 0%;
  top: 9.5vh;
  width: 20vw;
}

.sub_container_overlay {
  left: 0%;
  top: 18.25vh;
  width: 40vw;
}

.sub_container_settings {
  left: 0%;
  top: 62.25vh;
  width: 20vw;
}

.remove_data_confirmation_container {
  height: 9vh;
  width: 30vw;
  z-index: 900;
  background-color: #2b3847;
  position: absolute;
  display: none;
  top: 10%;
  left: 35%;
  color: #d7d7d7;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4vw;
  text-align: center;
  border-radius: 2vh;
  padding: 2vh;
}

#remove_data_confirmation_container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 91, 76) 0%, rgb(255, 91, 76) 100%);
  z-index: -1;
  text-align: center;
  line-height: 4vh;
}

.confirm_icon_delete_data {
  top: 25vh;
  left: 35%;
  display: none;
}

.close_icon_delete_data {
  top: 25vh;
  left: 63%;
  display: none;
}

.github {
  width: 45%;
  height: 4.5%;
  background-color: #2f3c4c;
  border: none;
  border-radius: 1.5vh;
  margin-top: 22vh;
}

.github i {
  margin-top: 1.5vh;
}

.sidebar_sub_button {
  color: #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: #2b3847;
  height: 85%;
  width: 25%;
  border-radius: 1.2vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.625vw;
  margin: 1%;
  padding: 1%;
}

.sidebar_sub_button:hover {
  background-color: #374657;
}

.sidebar_sub_button i {
  margin-top: 2.4vh;
}

.sidebar_sub_button p {
  margin-top: 2vh;
}

.black_icon_toggle {
  color: #d7d7d726 !important;
}

.white_icon_toggle {
  color: #c9c9c9 !important;
}

.sidebar_icon_brighter {
  color: white !important;
}

/* ↑ Sidebar ↑  */
/* ↓ Travel Log Creator ↓  */

.main_logs_container_arrow {
  position: absolute;
  top: 5vh;
  left: 95vw;
  margin-left: 3vw;
  z-index: 699;
  height: 4vh;
  transition: left 0.3s ease-in-out;
}

.main_logs_container_arrow img {
  width: 6vw;
}

.main_logs_container {
  position: absolute;
  height: 100vh;
  width: 25vw;
  z-index: 800;
  background-color: rgba(63, 63, 63, 0.468);
  backdrop-filter: blur(15px);
  top: 0;
  left: 100vw;
  transition: left 0.3s ease-in-out;
}

.travel_creator_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  background-color: #2f3c4c;
}

.travel_creator_buttons {
  color: #d7d7d7;
  font-size: 1vw;
  font-family: "Inter", sans-serif;
  padding-top: 0.75vh;
}

.travel_creator_buttons p {
  margin-top: 0.5vh;
}

.add_travel_individual_button {
  left: 0%;
  border-radius: 2vh 0 0 2vh;
}

.add_travel_group_button {
  left: 50%;
  border-radius: 0 2vh 2vh 0;
}

.travel_logs {
  width: 100%;
  height: 85vh;
  z-index: 850;
  overflow-y: auto;
}

.travel_logs_main_buttons {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ↑ Travel Log Creator ↑  */
/* ↓ Travel Type Settings Individual ↓ */

.travel_logs_individual_main_container {
  position: absolute;
  width: 25vw;
  height: 100vh;
  background-color: #2f3c4c;
  top: 0vh;
  left: 120vw;
  transform: translate(-50%, 0%);
  z-index: 890;
  transition: left 0.3s ease;
}

.travel_logs_individual_data_input_container p {
  font-family: "Inter", sans-serif;
  color: #d7d7d7;
  font-size: 0.9vw;
  margin-top: 1vh;
  padding-bottom: 2vh;
}

.data_grid_container,
.travel_logs_individual_customization_grid_container,
.travel_type_container {
  width: 96.5%;
  border: 1px solid #26303d;
  border-radius: 2vh;
  align-items: center;
  justify-items: center;
  padding-bottom: 2vh;
  z-index: 895;
  margin: 0 0 2vh 1.5%;
}

.travel_creator_cover {
  display: none;
  z-index: 900;
  position: absolute;
  border-radius: 2vh;
  position: absolute;
  background: repeating-linear-gradient(
    45deg,
    rgba(111, 111, 111, 0.4),
    rgba(116, 116, 116, 0.4) 10px,
    rgba(255, 255, 255, 0) 10px,
    rgba(255, 255, 255, 0) 20px
  );
}

.house_cover {
  height: 8.25%;
  width: 88%;
}

.page_styles_cover {
  top: 27.5%;
  height: 43%;
  width: 88%;
}

.customization_cover {
  padding-bottom: 2vh;
  margin: 0 0 2vh 1.5%;
  height: 27%;
  width: 96.5%;
}

.input_cover {
  height: 37%;
  width: 96.5%;
}

.data_grid_container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 1rem;
  row-gap: 0;
  padding: 1vh;
  width: 92.5%;
  display: grid;
}

.individual_input {
  height: 7vh;
  border-radius: 2vh;
  width: 100%;
  border: none;
  background-color: #26303d;
  color: #d7d7d7;
  font-size: 0.85vw;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: -2vh;
}

#travel_logs_individual_input::placeholder {
  color: #adadad;
  font-size: 1.2vw;
}

.jscolor_highlight {
  height: 5vh;
  width: 80%;
  margin-top: 0vh;
}

.travel_logs_individual_customization_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0vw;
}

.individual_customization_grid_cell {
  text-align: center;
  height: 12.5vh;
  width: 90%;
  font-family: "Inter", sans-serif;
  color: #d7d7d7;
  font-size: 0.9vw;
  margin-top: 1vh;
}

.travel_type_container {
  height: 35%;
}

.travel_type_container p {
  font-family: "Inter", sans-serif;
  color: #d7d7d7;
  font-size: 0.9vw;
  text-align: center;
  height: 1vh;
}

.travel_type_sub_container_a,
.travel_type_sub_container_b,
.travel_type_sub_container_c {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.travel_type_button {
  width: 20%;
  text-align: center;
  height: 7vh;
  background-color: #26303d;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  margin: 2.5vh;
  border: 1px solid #26303d;
  border-radius: 2vh;
  transition: transform 0.3s, background-color 0.3s;
}

.travel_type_button:hover {
  transform: scale(1.2);
  background-color: #3f4d60;
}

.travel_type_button img {
  height: 85%;
  width: 65%;
}

.polyline_width_slider_container {
  width: 90%;
  margin: 14% 0 0 3.5%;
}

.polyline_slider {
  appearance: none;
  width: 100%;
  height: 1vh;
  background: #26303d;
  border-radius: 1.5vh;
}

.polyline_slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #d6d6d6;
  cursor: pointer;
  border-radius: 1.5vh;
}

.polyline_input_container {
  width: 80%;
  height: 32.5%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.polyline_button {
  height: 100%;
  width: 47%;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 0.8vw;
  transition: transform 0.15s ease;
}

.polyline_solid {
  background-color: #26303d;
  color: #d7d7d7;
  border-radius: 1.3vh 0 0 1.3vh;
  border: 0px rgb(34, 34, 34) solid;
  transform: scale(1.15);
}

.polyline_dashed {
  background-color: #2f3c4c;
  color: #d7d7d7;
  border-radius: 0 1.3vh 1.3vh 0;
  border: 2px rgb(32, 34, 44) dashed;
  transform: scale(0.85);
}

.jscolor_polyline {
  height: 5vh;
  width: 80%;
  margin-top: -0.75vh;
}

.icon_settings_container {
  position: absolute;
  z-index: 899;
  border-radius: 1vh;
  background-color: #2f3c4c;
  box-shadow: 30px 30px 7px rgba(0, 0, 0, 0.4);
  display: none;
  height: 3.5vh;
  width: 4vw;
  border: none;
}

/* ↑ Travel Type Settings Individual ↑ */
/* ↓ Travel Type Settings Group ↓ */

.travel_logs_group_main_container {
  position: absolute;
  width: 25vw;
  height: 100vh;
  background-color: #2f3c4c;
  top: 0vh;
  left: 120vw;
  transform: translate(-50%, 0%);
  z-index: 890;
  text-align: center;
  transition: left 0.3s ease;
}

.main_buttons {
  width: 48%;
  height: 9vh;
  background-color: #2f3c4c;
  transition: width 0.3s ease, left 0.3s ease;
  border: 1px solid #26303d;
}

.main_buttons i {
  font-size: 2vw;
}

.confirm_main_button {
  left: 0%;
  border-radius: 2vh 0 0 2vh;
}

.close_main_button {
  left: 50%;
  border-radius: 0 2vh 2vh 0;
}

.travel_logs_group_data_input_container p {
  font-family: "Inter", sans-serif;
  color: #d7d7d7;
  font-size: 0.9vw;
  margin-top: 2vh;
}

.group_input {
  border-radius: 2vh;
  height: 7vh;
  border: none;
  background-color: #26303d;
  color: #d7d7d7;
  text-align: center;
  width: 90%;
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  display: block;
  margin: 1vh 0 0 2.5vh;
}

.group_input::placeholder {
  color: #adadad;
  font-size: 1.8vw;
}

/* ↑ Travel Type Settings Group ↑ */
/* ↓ CRUD Group ↓  */

.travel_logs_group_div_main {
  padding: 1vh;
  margin: 0vh 0.5vh 0vh 0.5vh;
  border-radius: 2vh;
}

.travel_logs_group_div_settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  padding: 0.8vh;
  margin: 0.25vh 0 0.5vh 0;
  border-radius: 2vh 2vh 0 0;
  background-color: #2f3c4c;
}

.travel_logs_group_name_container {
  height: 6vh;
  width: 12vw;
  border-radius: 2vh;
  background-color: rgba(37, 37, 37, 0.396);
}

.travel_logs_group_name {
  height: 4vh;
  font-size: 2.5vh;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #dddddd;
}

.travel_logs_group_date {
  height: 1.8vh;
  font-size: 1.5vh;
  width: 12vw;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5vh;
}

.travel_logs_group_div_content {
  margin-bottom: 10px;
  background-color: #2f3c4c;
  border-radius: 0 0 2vh 2vh;
  overflow: auto;
  padding: 0;
  margin: 0;
}

/* ↑ CRUD Group ↑  */
/* ↓ CRUD Individual ↓  */

.travel_logs_individual_div_main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 21.25vw;
  height: 4vh;
  background-color: #2b333d;
  padding: 1vh;
  border-radius: 2vh;
}

.travel_logs_subset_div_main {
  margin: 1vh 0 1vh 0.75vw;
}

.travel_logs_superset_div_main {
  margin: 1vh 0 1vh 1.5vw;
}

.travel_logs_individual_name_container {
  width: 12vw;
  margin: 0 0.5vw 0 0.1vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 3vh;
  margin-bottom: 0.4vh;
  text-align: center;
}

.travel_logs_individual_name {
  font-size: 1.2vw;
  color: #dddddd;
  font-family: "Inter", sans-serif;
  padding-left: 1vh;
}

.travel_logs_individual_travel_type_and_distance_container {
  width: 5vw;
  height: 5vh;
  text-align: center;
}

.travel_logs_individual_distance {
  color: #dddddd;
  font-size: 1vw;
  font-family: "Inter", sans-serif;
}

.travel_logs_distance_type {
  display: block;
  font-size: 1.8vh;
  font-family: "Inter", sans-serif;
  color: #dddddd;
}

.travel_logs_individual_name_edit {
  font-size: 2vw;
}

.travel_logs_CRUD_buttons {
  height: 3vh;
  width: 2vw;
  border: none;
  margin-left: 0.5vw;
  background-color: #232d3800;
}

.travel_logs_CRUD_buttons:hover {
  transform: scale(1.2);
}

/* ↑ CRUD Individual ↑ */
/* ↓ TimelineJS ↓ */

.timeline_container {
  position: absolute;
  min-height: 25vh;
  width: 70.5vw;
  background-color: rgba(255, 255, 255, 0.433);
  z-index: 750;
  top: 90.1vh;
  left: 39.7vw;
  transform: translate(-50%, 40%);
  transition: top 0.5s ease, width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.timeline_info {
  pointer-events: none;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 750;
  background-color: #232d38;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9c9c9;
}

#timeline {
  height: 25vh;
  width: 100%;
  position: absolute;
  z-index: 700;
  display: block;
}

.timeline_container_arrow {
  position: absolute;
  z-index: 699;
  height: 4vh;
  top: 96vh;
  left: 50vw;
  transform: translate(-50%, 0%);
  transition: top 0.5s ease;
}

.timeline_container_arrow img {
  width: 10vh;
  height: auto;
  transform: rotate(90deg);
}

/* ↑ TimelineJS ↑ */
/* ↓ Travel stats ↓ */

.main_statistics_container {
  background-color: #2f3c4c;
  color: white;
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 17vh;
  left: 50vw;
  transform: translate(-50%, -150vh);
  z-index: 899;
  min-height: 10vh;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(1, 13fr);
  grid-gap: 0px;
  transition: transform 0.5s ease;
}
.grid_item {
  border-top: 1px solid #ccc;
  padding-left: 1vh;
  border-image: linear-gradient(to right, transparent, white, transparent);
  border-image-slice: 1;
  border-image-width: 1px 0 0;
}

/* ↑ Travel stats ↑ */
/* ↓ Other ↓  */

.hidden {
  display: none;
}

.app_version {
  color: white;
  top: 98.2vh;
  left: 0vw;
  height: 1.9vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-size: 1.4vh;
  background-color: #232d38;
  padding-left: 0.5vw;
}

#info_popup {
  z-index: 899;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#close_info_popup {
  z-index: 899;
  float: right;
  cursor: pointer;
  font-size: 40px;
}

#info_box {
  z-index: 899;
  position: fixed;
  top: 7%;
  left: 52.5%;
  width: 15vw;
  height: 4vh;
  background-color: #2f3c4c;
  padding: 20px;
  box-shadow: 30px 30px 9px rgba(0, 0, 0, 0.4);
  border-radius: 1.5vh 0 0 1.5vh;
  backdrop-filter: blur(3px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  opacity: 0;
  transition: opacity 0.7s ease;
  font-family: "Inter", sans-serif;
}

#info_box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 192, 76) 0%, rgb(255, 192, 76) 100%);
  z-index: -1;
  text-align: center;
  line-height: 4vh;
}

.custom_cursor {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 899;
  cursor: pointer;
  display: none;
  text-align: center;
  transform: translate(-50%, -50%);
  top: -25%;
  left: 50%;
  pointer-events: none;
}

/* ↑ Other ↑  */

.test_button {
  height: 50px;
  width: 100px;
  position: absolute;
  z-index: 2000;
  cursor: pointer;
  display: none;
  /* display: flex; */
  text-align: center;
  border: black, 2px, solid;
  transform: translate(-50%, -50%);
}

.t1 {
  top: 75%;
  left: 10%;
  background-color: rgb(255, 128, 126);
}

.t2 {
  top: 80%;
  left: 10%;
  background-color: rgb(160, 255, 126);
}

.t3 {
  top: 85%;
  left: 10%;
  background-color: rgb(160, 255, 126);
}

.t4 {
  top: 90%;
  left: 10%;
  background-color: rgb(160, 255, 126);
}
