@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

/* ↓ Map layer ↓  */

#map {
  height: 100vh;
}

.layer_button {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: black, 2px, solid;
}

.layer_button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.layer_0 {
  top: 5%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 190);
}

.layer_1 {
  top: 12.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_2 {
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_3 {
  top: 27.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.layer_4 {
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* ↑ Map layer ↑  */

/* ↓ Map addon layer ↓  */

.addon_labels {
  top: 42.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_borders {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_train {
  top: 57.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.addon_cycling {
  top: 65%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.markers_toggle {
  top: 72.5%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* ↑ Map addon layer ↑  */

/* ↓ Home ↓  */

.home_button {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: black, 2px, solid;
}

.home_button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.home_main {
  top: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 190);
}

.home_geolocation {
  top: 12.5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_manual {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.home_zoom {
  top: 27.5%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#home_color_picker {
  top: 35%;
  left: 20%;
  position: absolute;
  z-index: 999;
}

#home_opacity_slider {
  top: 40%;
  left: 16%;
  position: absolute;
  z-index: 999;
}

.layers_container {
  display: none;
}

.location_container {
  display: none;
}

/* ↑ Home ↑  */

/* ↓ Logs container ↓  */

.main_logs_container_arrow {
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 999;
  height: 4vh;
  transition: left 0.5s ease;
}

.main_logs_container_arrow img {
  width: 6vw;
  height: auto;
}

.main_logs_container {
  position: absolute;
  height: 100%;
  width: 25vw;
  z-index: 900;
  background-color: rgb(255, 255, 255);
  top: 0%;
  left: 75%;
  border: solid, black, 25px;
  transition: left 0.5s ease;
}

.add_travel {
  width: 90%;
  height: 10%;
  z-index: 950;
  background-color: rgb(255, 255, 196);

  top: 20%;
  right: 5%;
  transform: translate(5%, 10%);
}

.travel_logs {
  width: 90%;
  height: 85vh;
  z-index: 950;
  background-color: rgb(255, 175, 134);
  top: 10%;
  right: 5%;
  transform: translate(5%, 5%);
  overflow-y: scroll;
}

.travel_logs_individual_div_main {
  height: 20vh;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.travel_logs_individual_div_main button {
  margin-right: 25px;
}

.travel_logs_individual_name {
  font-size: 2vw;
  padding: 0.5vw;
  margin: 1vw;
  color: white;
  background-color: rgb(129, 129, 129);
}

.travel_logs_individual_name_edit {
  font-size: 2vw;
}

.travel_logs_group_div_main {
  height: 70vh;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(220, 251, 255);
}

.travel_logs_group_div_settings {
  height: 5vh;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(164, 255, 196);
}

.travel_logs_group_div_content {
  height: 50vh;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(243, 207, 255);
}

/* ↑ Logs container ↑  */

/* ↓ Travel Settings container ↓  */

.travel_logs_individual_main_container {
  position: absolute;
  width: 40vw;
  min-height: 22.5vh;
  background-color: rgb(255, 255, 188);
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 990;
  display: none;
}

.travel_logs_individual_data_input_container {
  margin: 10px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#travel_logs_individual_input,
#daterange {
  width: 220px;
  height: 40px;
}

#marker_color_picker {
  top: 35%;
  left: 28%;
  position: absolute;
  z-index: 999;
}

#marker_opacity_slider {
  top: 35%;
  left: 56%;
  position: absolute;
  z-index: 999;
}

.icon_settings_container {
  position: absolute;
  width: 5vw;
  top: 32.5%;
  transform: translate(-50%, 50%);
  z-index: 999;
  background-color: white;
}

.check_icon_individual {
  left: 35%;
  display: none;
}

.close_icon_individual {
  left: 65%;
  display: none;
}

.travel_logs_group_main_container {
  position: absolute;
  width: 40vw;
  min-height: 10vh;
  background-color: rgb(255, 255, 188);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 990;
  display: none;
}

.check_icon_group {
  left: 32.5%;
  top: 62.5%;
  display: none;
}

.close_icon_group {
  left: 67.5%;
  top: 62.5%;
  display: none;
}

.travel_logs_individual_icon_container {
  position: absolute;
  width: 35vw;
  min-height: 7vh;
  /* background-color: rgb(172, 255, 70);  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 995;

  display: flex;
  justify-content: space-around;
}

.travel_type_button {
  display: inline-block;
  width: 15%;
  text-align: center;
  line-height: 3vh;
  background-color: #fff;
  border: 2px solid black;
  cursor: pointer;
}

.travel_type_button:hover {
  transform: scale(1.1);
}

/* ↑ Travel Settings container ↑  */

/* ↓ Other ↓  */

.app_version {
  color: white;
  top: 95%;
  left: 1%;
  height: 2vh;
  width: 5vw;
  position: absolute;
  z-index: 999;
  font-family: "Dosis", sans-serif;
  /*       font-family: 'Lilita One', cursive; */
  text-align: center;
}

#info_popup {
  z-index: 999;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#close_info_popup {
  z-index: 999;
  float: right;
  cursor: pointer;
  font-size: 40px;
}

/* ↑ Other ↑  */

.test_button {
  height: 50px;
  width: 100px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: flex;
  text-align: center;
  border: black, 2px, solid;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 128, 126);
}

.t1 {
  top: 5%;
  left: 60%;
}

.t2 {
  top: 15%;
  left: 60%;
}
